# Diretórios
DATA_DIR=data/
MODEL_DIR=models/

# MLflow
MLFLOW_TRACKING_URI=http://localhost:5000
MLFLOW_EXPERIMENT_NAME=ecommerce_recommender

# Dados
FEATURES_PATH=data/features/user_features.csv
TARGET_COLUMN=transaction
TEST_SIZE=0.2
RANDOM_SEED=42

# Hiperparâmetros da MLP
LEARNING_RATE=0.001
EPOCHS=300
PATIENCE=15
MIN_DELTA=0.0001
DROPOUT_RATE=0.3

# Learning Rate Scheduler
LR_SCHEDULER_FACTOR=0.5
LR_SCHEDULER_PATIENCE=5
